<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inquiry">

    <select id="getAllInquiries" resultType="inquiry">
        SELECT * FROM INQUIRE
        WHERE  MEMBER_NO = #{memberNo}
    </select>

    <select id="getInquiryById" parameterType="int" resultType="inquiry">
        SELECT * FROM INQUIRE WHERE INQUIRE_NO = #{inquireNo}
    </select>

    <insert id="insertInquiry" parameterType="inquiry" useGeneratedKeys="true">
        <selectKey resultType="int" keyProperty="inquireNo" order="BEFORE">
        	SELECT INQUIRE_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        
        INSERT INTO INQUIRE 
        (INQUIRE_NO, MEMBER_NO, TITLE, INQUIRE_CONTENT, CREATE_DATE, STATUS, ANSWER_CONTENT)
        VALUES 
        (#{inquireNo}, 
        #{memberNo}, 
        #{title}, 
        #{inquireContent}, 
        DEFAULT, 
        DEFAULT, 
        NULL)
    </insert>

    <update id="updateInquiry" parameterType="inquiry">  
        UPDATE INQUIRE
        SET TITLE = #{title},
            INQUIRE_CONTENT = #{inquireContent},
            STATUS = DEFAULT ,
            ANSWER_CONTENT = #{answerContent}
        WHERE INQUIRE_NO = #{inquireNo}
    </update>

    <delete id="deleteInquiry" parameterType="int">
        DELETE FROM INQUIRE WHERE INQUIRE_NO = #{inquireNo}
    </delete>

</mapper>
